Repository idl3o/gh-pages: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, dotnet format

.lintstagedrc:

{
  "*.{js,ts}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{md,html,css,scss}": [
    "prettier --write"
  ],
  "*.cs": [
    "dotnet format"
  ]
}

remove azure
  .github/workflows/azure-static-web-apps.yml
  docs/build-os-recommendations 2-old.md
  docs/build-os-recommendations 2.md
  staticwebapp.config.json
Due: prettier --write

chore: update lint-staged to version 15.5.1 in package.json
  package-lock.json
  package.json
  run-tests.ps1
Due: none

feat: implement comprehensive test suite for GitHub Pages with linting and validation
  run-tests-new.ps1
  run-tests-simple.ps1
  run-tests.ps1
Due: none

Your message
  .gitignore
  index.html
Due: prettier --write

Documentation hub enhancements: consolidated layout and navigation
  .gitignore
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  Gemfile
  README.md
  _config.yml
  deploy-gh-pages.ps1
  deploy-linux.sh
  docs/getting-started.md
  docs/index.md
  docs/local-development.md
  docs/tutorials/index.md
  docs/tutorials/ts-contracts.md
  index.html
  start-jekyll.ps1
Due: prettier --write

Initial commit: Documentation Hub
  Gemfile
  Gemfile.lock
Due: none

Add GitHub Actions workflow for deploying Jekyll site to GitHub Pages
  .github/workflows/pages-build-deployment.yml
Due: none

Enhance GitHub Pages deployment script with improved error handling and user feedback
  deploy-gh-pages.ps1
Due: none

Update emsdk submodule to latest commit and ensure branch is specified in .gitmodules
  .gitmodules
Due: none

Refactor CSS integration by removing inline styles from index.html and linking to main.css for improved maintainability
  _layouts/default.html
  assets/css/main.css
  index.html
Due: prettier --write

Remove unnecessary prettier formatting from lint-staged configuration and add ignore comments in default layout for improved readability
  .lintstagedrc
  _layouts/default.html
Due: prettier --write

Update project structure and documentation; enable GitHub Pages integration and enhance CSS for dark theme support
  Gemfile
  PRX-BLOCKCHAIN-ROADMAP.md
  README.md
  _layouts/default.html
  assets/css/main.css
  webapp.code-workspace
Due: prettier --write

chore: update package.json for module type and dependency versions
  .eslintignore
  .eslintrc.js
  .husky/pre-commit
  eslint.config.js
  frontend/my-react-app/package.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Update webapp README with comprehensive documentation
  frontend/frontend/webapp/README.md
Due: prettier --write

Fix Jekyll version compatibility and deployment script syntax
  Gemfile
  Gemfile.lock
  deploy-gh-pages.ps1
Due: none

Update Jekyll exclude patterns to fix build issues
  _config.yml
Due: none

feat: Add Discover and Profile pages with styling and functionality
  assets/js/blockchain-game.js
  assets/js/content-studio.js
  assets/js/streaming-service.js
  deploy-gh-pages.ps1
  docs/streaming-software-integration.md
  frontend/webapp/download-test-videos.ps1
  frontend/webapp/public/js/blockchain-overlay.js
  frontend/webapp/src/App.tsx
  frontend/webapp/src/components/layout/Navbar.module.css
  frontend/webapp/src/components/layout/Navbar.tsx
  frontend/webapp/src/components/player/VideoPlayer.module.css
  frontend/webapp/src/components/player/VideoPlayer.tsx
  frontend/webapp/src/components/studio/AdvancedAnalytics.tsx
  frontend/webapp/src/components/studio/ScheduledStreams.module.css
  frontend/webapp/src/components/studio/ScheduledStreams.tsx
  frontend/webapp/src/components/studio/StreamScheduler.module.css
  frontend/webapp/src/components/studio/StreamScheduler.tsx
  frontend/webapp/src/components/tcg/types.ts
  frontend/webapp/src/components/theme/ThemeContext.tsx
  frontend/webapp/src/components/theme/ThemeSwitcher.module.css
  frontend/webapp/src/components/theme/ThemeSwitcher.tsx
  frontend/webapp/src/components/video/VideoPlayer.module.css
  frontend/webapp/src/components/video/VideoPlayer.tsx
  frontend/webapp/src/index.css
  frontend/webapp/src/pages/CreatorStudio.module.css
  frontend/webapp/src/pages/CreatorStudio.tsx
  frontend/webapp/src/pages/DiscoverPage.module.css
  frontend/webapp/src/pages/DiscoverPage.tsx
  frontend/webapp/src/pages/ProfilePage.module.css
  frontend/webapp/src/pages/ProfilePage.tsx
Due: prettier --write, eslint --fix
